11wordsentences/
HarvardSentences/
WavStorage/
sentences/.gitignore
sentences/GTTSPractice.py
sentences/Notes.txt
sentences/gitignore.txt
sentences/text_to_speech - Copy.py
wordstorage/gibberishsentences12.csv